@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank You for coming</h1>
    <h2>We hope you come again when your kingdom is low on supplies</h2>
    <p>Have a great day! Goodbye!!</p>
</div>
