
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <p><span class="text-black-50"><strong>Sub-Total</strong> @Model</span></p>
</div>